@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: Hack;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  color: black;
}

.bar {
  padding-top: 10px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  height: 2em;
  display: flex;
  align-items: center;
}

.bar-content {
  padding-left: 20px;
}

input {
  text-transform: uppercase;
}

#analysis-list {
  width: 20%;
  height: 75vh;
}

.expand-analysis {
  display: inline;
  width: 1em;
  text-align: center;
}

.analysis-type {
  display: inline-block;
  text-align: center;
}

.time-ts {
  display: inline-block;
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
}

.analysis-group {
  display: flex;
  align-items: center;
}

#chart {
  display: flex;
  flex-grow: 1;
}

#dash-group {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: flex;
  align-items: center;
}
