* {
  font-family: Hack;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  background-color: #131722;
  color: white;
  font-family: monospace;
}

#chart {
  position: absolute;
  top: 38px;
  left: 0px;

  width: calc(100% - 2px);
  height: calc(100% - 40px);
  border: solid 1px green;
}

#top-bar {
  position: absolute;
  top: 0;
  left: 0px;
  height: 38px;
  width: 100%;

  display: flex;
  align-items: center;
}

#top-bar span {
  display: flex;
  align-items: center;
  background-color: #363a45;
  padding-right: 5px;
  border-radius: 5px;
  height: 90%;
}

#stock-search-input {
  border: none;
  height: 20px;
  background-color: #363a45;
  color: white;
  padding-left: 10px;
  width: 300px;
  text-transform: uppercase;
}

#side-bar {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 200px;
  height: calc(100% - 38px);
}

#bottom-bar {
  position: absolute;
  top: calc(100% - 200px);
  left: 200px;
  width: calc(100% - 200px);
  height: 200px;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}


#view {
}
