* {
  font-family: 'Inconsolata', monospace;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.cht-container {
  margin: 10px;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  border: 1px solid var(--ui);
}

.candle-chart {
  float: left;
  width: calc(100%);
  height: calc(100% - 2em);
}

.chart-options {
  float: left;
  width: 100%;
  height: 2em;
  display: flex;
}

.chart-options > input {
  background-color: var(--bg);
  color: var(--fg);
  border: none;
}
